################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/NetLeaningGuide/NetLeaningGuide/obj
/NetLeaningGuide/NetLeaningGuide/bin/Debug/net5.0
/.vs
/NetLeaningGuide/.vs/NetLeaningGuide/v16
/src/NetLeaningGuide/bin/Debug/net5.0
/src/NetLeaningGuide/Controllers/WeatherForecastController.cs
/src/.vs/NetLeaningGuide
/src/NetLeaningGuide/obj
