################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/NetLeaningGuide/NetLeaningGuide/obj
/NetLeaningGuide/NetLeaningGuide/bin/Debug/net5.0
/.vs
/NetLeaningGuide/.vs/NetLeaningGuide/v16
/src/NetLeaningGuide/bin/Debug/net5.0
/src/.vs/NetLeaningGuide
/src/NetLeaningGuide/obj
/src/NetLeaningGuide.Core/obj
/src/NetLeaningGuide.Core/bin/Debug
/src/NetLeaningGuide.E2ETests/obj
/src/NetLeaningGuide.E2ETests/bin/Debug/netcoreapp3.1
/src/NetLeaningGuide.IntegrationTests/obj
/src/NetLeaningGuide.IntegrationTests/bin/Debug/netcoreapp3.1
/src/NetLeaningGuide.Message/obj
/src/NetLeaningGuide.Message/bin/Debug/netstandard2.0
/src/NetLeaningGuide.UnitTest/obj
/src/NetLeaningGuide.UnitTest/bin/Debug/netcoreapp3.1
/src/NetLearningGuide/bin/Debug/net5.0
/src/NetLearningGuide/obj
/src/NetLearningGuide.Core/obj
/src/NetLearningGuide.Core/bin/Debug
/src/NetLearningGuide.E2ETests/obj
/src/NetLearningGuide.E2ETests/bin/Debug/netcoreapp3.1
/src/NetLearningGuide.IntegrationTests/obj
/src/NetLearningGuide.IntegrationTests/bin/Debug/netcoreapp3.1
/src/NetLearningGuide.Message/obj
/src/NetLearningGuide.Message/bin/Debug/netstandard2.0
/src/NetLearningGuide.UnitTest/obj
/src/NetLearningGuide.UnitTest/bin/Debug/netcoreapp3.1
/src/NetLearningGuide.E2ETests/bin/Debug/net5.0
/src/NetLearningGuide.IntegrationTests/bin/Debug/net5.0
/src/NetLearningGuide.UnitTest/bin/Debug/net5.0
/src/TestResults/5c85d5d8-dd68-4a5b-8151-76e08147071f
/src/NetLearningGuide.Util/bin/Debug/netstandard2.0
/src/NetLearningGuide.Util/obj
